.title {
    text-indent: -9999px;
    font-size: 1pt;
}

a {
    color: #427fed;
    color: #1e6b8c;
    text-decoration: none;
}

a:visited {
    color: #6f32ad;

}

a:hover {
    text-decoration: underline;
    background: #f0f0ff;
}

a:link {
    text-decoration: underline;
}

a:active {
    background-color: #427fed;
    color: #ffffff;
}

body {
    background-color: #ffffff;
    background-image: none;
    color: #330;
    font-family: Arial;
    font-size: 15pt;
    margin: 2em auto;
    padding: 0 2em;
    max-width: 45em;
    width: auto;
}

h1, h2, h3, h4, h5, h6 {
    color: #72a7cf;
    line-height: 1.2em;
}

img.resize{
    width: 90%;
    height: auto;
}

img {
    float: center;
    clear: right;
    padding: 10px;
    margin: 20px;
    border: solid 0px #888;
}

p, li, dd, dt, blockquote, span {
    font-size: 15pt;
    line-height: 1.4em;
}
